<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h3 class="col-6 offset-3 mt-3 mb-5">Welcome to WanderLust</h3>
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" placeholder="Enter Username" type="text" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a valid username
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" id="email" placeholder="Enter Email" type="text" class="form-control" required >
                <div class="invalid-feedback animate__animated">
                    Please enter a valid email
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="position-relative">
                    <input name="password" id="password" placeholder="Enter Password" type="password" class="form-control pr-5" required>
                    <i class="bi bi-eye-slash position-absolute" id="togglePassword" style="top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;"></i>
                </div>
                <div class="invalid-feedback">
                    Please enter a valid password
                </div>
            </div>
            <button class="btn btn-dark offset-4 mt-5 submitsignup">Submit</button>
        </form>
    </div>
</div>